@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

h1 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 120px;
margin-bottom: 10px;
max-width: 100%;
max-height: 100%;
color: black;
}

p {
  font-family: sans-serif;
  max-width: 880px;
  margin-left: 8px;
  max-width: 100%;
  color: black;
}

video {
  max-width: 100%;
  max-height: 100%;
}

header nav ul {
  color: white;
  background-color: black;
}
header nav ul li {
  text-decoration: none; 
}

/*
button {
float: left;
} */
